@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
} */
body {
  color: #555555;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  } */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-color-0;
}

.navbar {
  @apply fixed top-0 left-0 z-10 flex items-center justify-between w-full px-5 py-8 duration-500 lg:px-8 xl:px-20 max-lg:py-4;
}

.navbar_mobile {
  @apply fixed top-0 left-0 w-full z-50 h-[100vh] bg-white  duration-400;
}

.navbar_items {
  @apply flex flex-col items-center justify-center h-full gap-4 m-auto duration-400;
}

.navbar_item {
  @apply text-[25px] uppercase font-bold text-color-1 hover:text-color-2 cursor-pointer hoverEffect;
}

.sectionTitle {
  @apply text-[18px] lg:text-[36px] font-extrabold;
}

.smallTitle {
  @apply font-semibold text-[16px] xl:text-[24px];
}
.container {
  @apply px-4 w-full lg:w-[750px] xl:w-[1170px] mx-auto;
}

.hoverEffect {
  @apply ease-in-out duration-400;
}

.sectionGrid {
  @apply grid grid-cols-1 gap-10 lg:grid-cols-2;
}

.banner_container {
  @apply mx-0 my-20 xl:mx-10;
}
.input {
  @apply p-3 text-[14px] focus:outline-none;
}

.mantine-Carousel-indicators {
  transform: translateY(80px);
}
.mantine-Carousel-indicator {
  background-color: #c5c5c5 !important;
}
.mantine-Carousel-indicator:hover {
  background-color: #96dd1e !important;
}

.mantine-Carousel-indicator[data-active="true"] {
  background-color: #96dd1e !important;
}

.controls svg {
  background-color: red !important;
  display: hidden !important;
}
