@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
} */
body {
  color: #555555;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: white;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  } */
.app {
  @apply min-h-[150vh] flex flex-col justify-between;
}
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-color-0;
}

::-moz-selection {
  color: #96dd1e;
  background: #040404;
}

::selection {
  color: #96dd1e;
  background: #040404;
}

.p {
  @apply text-[14px] text-gray-3;
}
.p_light {
  @apply text-[14px] text-gray-1;
}

.sectionPadding_top {
  @apply pt-[180px];
}

.navbar {
  @apply fixed top-0 left-0 z-10 flex items-center justify-between w-full px-5 py-6 duration-500 lg:px-8 xl:px-20 lg:py-8;
}

.navbar_mobile {
  @apply fixed top-0 left-0 w-full z-50 h-[100vh] bg-white  duration-400;
}

.navbar_items {
  @apply flex flex-col items-center justify-center h-full gap-4 m-auto duration-400;
}

.navbar_item {
  @apply text-[25px] uppercase font-bold text-color-1 hover:text-color-2 cursor-pointer hoverEffect;
}

.sectionTitle {
  @apply text-[18px] xs:text-[24px] sm:text-[36px] font-extrabold;
}
.sectionTitle_semibold {
  @apply text-[18px] xs:text-[24px] sm:text-[36px] font-semibold;
}

.smallTitle {
  @apply font-semibold text-[16px] xl:text-[24px];
}

.largeTitle {
  @apply text-[18px] xss:text-[24px] lg:text-[36px] font-semibold;
}

.hover_green {
  @apply hover:text-color-2 duration-400;
}

.hoverEffect {
  @apply ease-in-out duration-400;
}

.sectionGrid {
  @apply grid grid-cols-1 gap-10 lg:grid-cols-2;
}

.banner_container {
  @apply mx-0 my-20 xl:mx-10;
}

.input {
  @apply p-3 text-[14px] focus:outline-none;
}

.footer_grid {
  @apply grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3;
}

.footer_input {
  @apply bg-gray-0 focus:outline-none h-[50px] p-4;
}

.btn_green {
  @apply px-8 py-4 bg-color-2 hover:bg-black hover:text-color-2 duration-400;
}

.mantine-Carousel-indicators {
  transform: translateY(80px);
}

.mantine-Carousel-indicator {
  background-color: #c5c5c5 !important;
}

.mantine-Carousel-indicator:hover {
  background-color: #96dd1e !important;
}

.mantine-Carousel-indicator[data-active="true"] {
  background-color: #96dd1e !important;
}

.controls svg {
  background-color: red !important;
  display: hidden !important;
}
